body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #37323e;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.column {
    background-color: #6d6a75 ;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.tasks {
    min-height: 100px;
    background-color: #bfbdc1;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.tasks div {
    background-color: #e0e0e0;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: move;
}

.task-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.task-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.task-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.task-form button:hover {
    background-color: #45a049;
}

.task-form button:last-child {
    margin-left: 10px;
    background-color: #f44336;
}

.task-form button:last-child:hover {
    background-color: #da190b;
}

